<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, shrink-to-fit=no" />
    <style>
        img {
            border-radius: 50%;
        }
    </style>
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-auto">
            <br />
            <img src="~/Image/AboutMe.jpg" style="width:200px"/>
            <br />
            <h5>Sanjok Limbu</h5>
        </div>
        <div class="col-auto">
            <h3>About Me</h3>
            <p>
                Born in 1993. Raised in a small town in Nepal. Landed in Australia for higher studies.
                Culture change had a major impact on me. Been hard at work and now I've found my footing.
            </p>
            <p>
                Currently I'm employed at Coles Supermarket but programming has always been in my heart.
                I'm passionate in learning and challenging myself to go deeper in developing experience.
            </p>
            <p>
                Proficient in C# and has exposure to javascript. Dotnet Web application has been my focus at the moment
                but excited to work on other technologies such as device driver programming and embedded systems.
            </p>
            <p>
                I enjoy playing video games in PC and love reading japanese manga.
            </p>
        </div>
    </div>
</body>
</html>